* {
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
    text-align: center;
}

.calculator {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center;
    align-items: center;
    gap: 2vmin; /* Adds spacing between console and screen */
}


.console {
    background-color: #ffffff;
    color: black;
    opacity: 0.5;
    height: 10vmin;
    width: 50vmin;
    justify-content: right;
    align-items: center;
    display: flex;
    margin-bottom: 3rem;
    font-size: 5vmin;
    border-radius: 1rem;
}

.screen {
    height: 55vmin;
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 2vmin;
    padding-bottom: 2vmin;
}

.icons {
    height: 10vmin;
    width: 10vmin;
    border-radius: 5rem;
    border: none;
    font-size: 3vmin;
}

.icons:hover {
    opacity: 0.3;
    cursor: pointer;
}

.equal {
    background-color: orange;
}

.edge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 2vmin;
    
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);

    width: 55vmin;
    height: auto;
    min-height: 80vmin;
}

.result {
    color: blue;
    font-size: 5vmin;
    margin-left: auto;
    margin-right: 1vmin;
}


.line-divider {
    height: 1px;
    background-color: #ccc;
    width: 100%;
    margin: 10px 0;
}